<h1>Test click on each link to test mail interception, then look at MailWarp service:</h1>
<%= link_to 'Text only', test_text_only_path %>
|
<%= link_to 'Multipart', test_multipart_path %>
|
<%= link_to 'Text only with attachment', test_text_with_attachment_path %>
|
<%= link_to 'Multipart with attachments', test_multipart_with_attachments_path %>
